/* General */

body {
    font-family: 'Roboto Slab', serif;
}

section {
    padding: 60px 0;
}

section h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 20px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 1em;
    font-weight: 700;
}

.section-header {
    margin-bottom: 70px;
}

.section-header h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #222;
    margin-bottom: 25px;
}

.section-header p,
section p {
    font-family: 'Droid Serif', sans-serif;
}

.social-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #222222;
    color: #fff;
    border-radius: 50%;
    line-height: 50px;
    font-size: 1.5em;
    transition: all 0.2s ease;
}

.social-icon:hover {
    background-color: #0ed8d6;
    cursor: pointer;
}
/* General END */

/* Main nav */

.navbar {
    background-color: transparent;
    transition: all .1s ease-out;
}

.navbar .navbar-brand {
    color: #fff;
    font-family: 'Droid Serif', sans-serif;
    transition: all .2s ease;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: all .2s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover {
    color: #0ed8d6;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-brand:focus {
    color: #fff;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    transition: all 0.2s;
}

.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: 0;
    cursor: pointer;
    border-color: #fff;
}

.menu-grey:hover {
    color: #777777!important;
}
/* Main nav END */

/* Main header */

.main-header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.main-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 700;
}

.main-header h2 {
    font-family: 'Droid Serif', sans-serif;
    font-size: 2em;
}

.main-header a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #0ed8d6;
    border-color: #0ed8d6;
    padding: 10px;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.main-header a:hover {
    background-color: #fff;
    color: #0ed8d6;
    border-color: #fff;
}

.btn-primary:focus,
.btn:focus {
    box-shadow: 0 0 0 0.2rem transparent;
    outline: 0;
}

.btn-primary:active {
    background-color: #fff!important;
    color: #0ed8d6!important;
    border-color: #fff!important;
    box-shadow: 0 0 0 0.2rem transparent!important;
    cursor: pointer!important;
}

/* Main header END */

/* Services */

#services .fa {
    border: 2px solid #0ed8d6;
    border-radius: 50%;
    background-color: #0ed8d6;
    color: #fff;
    padding: 15px;
    font-size: 2.8em;
    transition: all 0.4s;
    cursor: pointer;
    overflow: hidden;
}

#services .fa:hover {
    background-color: #fff;
    color: #0ed8d6;
    transform: rotate(360deg);
}

/* Services END */

/* Portfolio */

#portfolio {
    background-color: #f7f7f7;
}
#portfolio .section-header {
    margin-top: 70px;
}

#portfolio .container {
    margin-bottom: 70px;
}

.portfolio-content {
    background-color: #fff;
    overflow: hidden;
}

.portfolio-image,
.portfolio-image-background {
    height: 250px;
}

.portfolio-image {
    overflow: hidden;
}

.portfolio-image-background {
    background-size: cover;
    background-position: center;
}

#pic-1 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

#pic-2 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#pic-3 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg)
}

#pic-4 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#pic-5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#pic-6 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

.portfolio-mask {
    background-color: rgba(14, 216, 214, 0.5);
    color: #fff;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.portfolio-mask,
.portfolio-image-background {
    transition: all 0.3s;
}

.portfolio-mask i {
    font-size: 2em;
}

.portfolio-mask:hover {
    opacity: 1;
    cursor: pointer;
}

.portfolio-image-background:hover {
    transform: scale(1.5);
}
/* Portfolio END */

/* Team */
.team-content img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#team .section-header {
    margin-top: 50px;
}

#team .section-footer {
    margin-top: 30px;
    margin-bottom: 50px;
}
/* Team END*/

/* Contact */
#contact {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../img/footer/world-map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contact .section-header {
    margin-top: 50px;
}

#contact h2,
#contact p {
    color: #fff;
}

.inputs input,
.inputs textarea {
    width: 100%;
    border: 10px solid #fff;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
}

.inputs input:focus,
.inputs textarea:focus {
    border: 10px solid #7de6ef;
    background-color: #7de6ef;
    outline: 0;
}

.flex {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs input::placeholder,
.inputs textarea::placeholder {
    color: #777;
}

.inputs textarea {
    height: 100%;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #0ed8d6;
    border-color: #0ed8d6;
    padding: 10px;
    margin-top: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.submit .btn:hover {
    background-color: #fff;
    color: #0ed8d6;
    border-color: #fff;
}

.submit {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* Contact END */

/* Footer */
#main-footer {
    height: 100px;
}

#main-footer .row {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer END */